<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nodejs Passport Local</title>

<script type="text/javascript" src="./jquery.js"></script>    
<link rel="stylesheet" type="text/css" href="./bootstrap.min.morph.css">
    <link type="text/css" rel="stylesheet" href="/signingupin.css" >

</head>
<body>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>ERROR DE CONEXIÓN</strong> No estamos teniendo respuesta del servidor. Revise su conexión a Internet.
</div>

<script type="text/javascript" src = "./elementos.js"></script>

</body>

</html>
