
     <div class="container col-md-12">

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" >
            <a class="nav-link"   href="/inicio"  >Home</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link "  href="/cotizacion"   >Cotizacion de Mercado</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link "  href="/condicionesIniciales"   >Condiciones Iniciales</a>
          </li>  
          <li class="nav-item" >
            <a class="nav-link "  href="/wallet"   >Mi Billetera</a>
          </li>   
          <li class="nav-item" >
            <a class="nav-link "  href="/tablaTrading"   >Tabla Trading</a>
          </li>                           

          <li class="nav-item" >
            <a class="nav-link "  href="/ordenes"   >Ordenes Actuales</a>
          </li> 

        </ul>

     </div>